<div class="col xs12 course">
  <div class="row course-name">
    <div class="col xs10">
      {{ course.title}}
    </div>
    <!-- Icon open / close -->
    <div class="col xs1">
      <span class="modules-number">
        {{ course.modules.length }} modules
      </span>
      <toggle [selectedStatus]="course.isSelected"  (onToggle)="toggle($event)">

      </toggle>
      <span [ngClass]="{'icon-list': true, 'up': !course.isSelected, 'down': course.isSelected}"
        (click)="revealOrHide(course)">&gt;
      </span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>View course</span>
          </button>
          <button mat-menu-item (click)="openUpdateDialog()">
            <span>Update course</span>
          </button>
          <button mat-menu-item (click)="openRemoveDialog()">
            <span>Remove course</span>
          </button>
        </mat-menu>
    </div>

  </div>
  <app-module-list [ngClass]="{'is-visible': course.isSelected}" [modules]="course.modules"></app-module-list>
</div>
