<div class="module-line">
    <span class="module-title">
        {{module.name}}
    </span>
    <div class="media-right">
        <div class="module-info">
           Duration: {{totalDuration*1000 | date:'mm:ss'}} minutes
        </div>
        <div class="module-info">
            {{module.medias.length}} medias
        </div>
        <div class="arrow">
            <span [ngClass]="{'icon-list': true, 'up': !isSelected, 'down': isSelected}"
                (click)="showMedia()">&gt;</span>
        </div>
    </div>
</div>
<div *ngIf="isSelected">
    <ng-container *ngFor="let media of module.medias">
        <app-media-tile [media]="media" class="media-details"></app-media-tile>
    </ng-container>
</div>