mat-card {
    margin-top: 0.4em;
    padding: 0.7em;
    display: flex;
    align-items: center;
}

mat-card-title {
    padding:0;
}

.delete{
    float: right;
    margin-left: auto;
    border-radius: 80%;
    background-color: white;
    border-color: white;
}