mat-card {
    margin-top: 0.4em;
    padding: 0.7em;
    display: flex;
    align-items: center;
}

mat-card-title {
    padding:0;
}

.delete{
    float: right;
    margin-left: auto;
    border-radius: 80%;
    background-color: white;
    border-color: white;
}

.add-module{
    margin: 0.5em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.form-style{
    display: flex;
    justify-content: space-evenly;
}

legend{
    font-size: 1.5em;
    font-weight: 500;
}

.submit-style{
    display: flex;
    justify-content: flex-start;
    margin-top:0.2em;
    margin-bottom: 0.2em;
}